{% extends 'footerTemplate.twig' %}

{% block footerContent %}
    
	{% for post in posts %}
		<li>
			<a href="">
				<h5> {{post.title}}  </h5>
			</a>

			<p>{{post.content | truncate(150, true, '...')}}</p>
			<span class="timestamp">4 hours ago</span>
			<a href="#">Lire la suite...</a>
		</li>
	    
	{% endfor %}

{% endblock %}