<!DOCTYPE html>
<html>
<head>
	<title>Bienvenue !</title>
	<meta charset="utf-8">

	<!--  <link rel="stylesheet" type="text/css" href="">  -->
</head>

<body>

	{% block caroussel %}
	    
	{% endblock %}

	<footer>
		{# {{ render(controller('../controllers/Footer::lastTwoPosts'))}} #}
	</footer>

</body>
</html>
