{% extends 'templateAdminPaintings.twig' %}


{% block title %}

	JMD - Espace administration
    
{% endblock %}


{% block content %}
	
	<div id="painting-form">
	
		{% if img is not null %}

		<form action="index.php?action=addPainting&amp;img=delete&amp;name={{ name }}" method="POST" enctype="multipart/form-data">
			<div style="width: 15em; overflow: hidden"><img src="{{ url }}" style="width: 100%" alt="Peinture de Jeanne-Marie Desmares"></div>
			<button  type="submit" name="submit" class="button alt icon fa-trash">Supprimer</button>
		</form>	

		<form action="index.php?action=addPainting&amp;img=record&amp;name={{ name }}" method="POST">
			<h4>2 - Entrer les informations du tableau</h4>

			<label for="title">Titre de l'oeuvre :<input type="text" name="title" placeholder="Titre" class="painting-fields"></label>

			<label for="width">Largeur :<input type="text" name="width" placeholder="Largeur (en cm) ex: 40" class="painting-fields"></label>
			<label for="height">Hauteur :<input type="text" name="height" placeholder="Hauteur (en cm) ex: 60" class="painting-fields"></label>
			

			<label for="creation">Date de réalisation :<input type="text" name="creation" placeholder="Date de création ex: 06/2018" class="painting-fields"></label>
			<label for="technic">Technique :<input type="text" name="technic" placeholder="ex: Huile sur toile" class="painting-fields"></label>
			<label for="price">Prix :<input type="text" name="price" placeholder="Prix en € ex: 590" class="painting-fields"></label>
			<label for="theme">Thème :<input type="text" name="theme" placeholder="ex: Eglise de Patrimonio, St Florent" class="painting-fields"></label>
			<label for="category">Choisir une categorie :
				<select name="category" class="painting-fields">
					<option value="paysage">Paysage</option>
					<option value="scene">Scene</option>
					<option value="abstrait">Abstrait</option>
				</select>	
			</label>

			<div>
				<label for="sold">Le tableau est-il vendu ?
					<input type="radio" name="sold" value="true" id="sold-true">
					<label for="sold-true">OUI</label>

					<input type="radio" name="sold" value="false" id="sold-false">
					<label for="sold-false">NON</label>	
				</label>
			</div>

			<div>
				<label for="published">Voulez le rendre public ?
					<input type="radio" name="published" value="true" id="published-true">
					<label for="published-true">OUI</label>

					<input type="radio" name="published" value="false" id="published-false">
					<label for="published-false">NON</label>	
				</label>
			</div>

			
			<button type="submit" name="submit" class="button special icon fa-download">Valider</button>
		</form>

		{% else %}

		<form action="index.php?action=addPainting&amp;img=check" method="POST" enctype="multipart/form-data">
			<h4>1 - Ajouter une image</h4>
			<div><input type="file" name="file" class="painting-fields" required></div>
			<button type="submit" name="submit" class="button special icon fa-download">Ajouter</button>
		</form>

		

		{% endif %}

			
	</div>
    
{% endblock %}