{% extends 'layoutBackoffice.twig' %}


{% block head %}

<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=nkx2kdb057v2l9ww74mit8bczkkrmezsq1xma0sofi9uvoh4"></script>
<script>tinymce.init({ selector:'textarea' });</script>
     
{% endblock %}

{% block main %}
	
	{% if action == "adminPosts" %}

		{% if choice == "write" %}

		<h3 class="content-header">Nouvel Article</h3>
		
		<div class="content-link">
			<a href="index.php?action=adminPosts"><i class="fa fa-list"></i>Gérer mes articles</a>
		</div>

		{% elseif choice == "modify" %}

		<h3 class="content-header">Modifier un article</h3>
		<div class="content-link">
			<a href="index.php?action=adminPosts"><i class="fa fa-list"></i>Gerer mes articles</a>
		</div>
		<div class="content-link">
			<a href="index.php?action=adminPosts&amp;choice=writePost"><i class="fa fa-pencil"></i>Ecrire un article</a>
		</div>

		{% elseif choice == null %}
		
		<h3 class="content-header">Mes Articles</h3>

		<div class="content-link">
			<a href="index.php?action=adminPosts&amp;choice=writePost"><i class="fa fa-pencil"></i>Ecrire un article</a>
		</div>          

		{% endif %}
	{% endif %}


	{% block content %}
	    
	{% endblock %}


	{% block pagination %}
    
	{% endblock pagination %}

    
{% endblock %}