{% extends 'layoutBackoffice.twig' %}


{% block main %}
		
		<h3 class="content-header">LES COMMENTAIRES</h3>


	{% block content %}
	    
	{% endblock %}


	{% block pagination %}
    
	{% endblock pagination %}

    
{% endblock %}