{% extends 'frontendLayout.twig' %}

{% block title %}

	A propos
    
{% endblock title %}

{% block head %}
	
	<meta name="description" content="Biographie de l'artiste peintre Jeanne-Marie Desmares. Découvrez le parcours de l'artiste, son envireonnement ainsi que sa source d'inspiration : la Corse.">
	<link rel="stylesheet" type="text/css" href="assets/css/about.css">

	<script src='https://www.google.com/recaptcha/api.js'></script>
    
{% endblock head %}



{% block main %}

	<section id="main">
		<div class="container">
			<header class="major">
				<h2>l'Artiste</h2>
				<p>Biographie, environnement, inspiration, son atelier</p>
			</header>

			<!-- Content -->
			<section class="about-section">
				
				<h3>Bio</h3>
				<p><span class="image left"><img src="assets/img/IMG_2743.jpg" alt="Artiste Jeanne-Marie Desmares" /></span>Jeanne-Marie Desmares est charentaise par son père et corse par sa mère, elle a grandi entre la Charente et la Corse, et fait l’école d’infirmière à Compiègne.<br>
				Le crayon l’a toujours accompagnée dès son enfance, mais elle est autodidacte et c’est beaucoup plus tard, approchant les 50 ans que la peinture s’est imposée à elle comme une évidence.
				Nadie Feuz a été son maître pendant 10 ans, peintre renommée, elle lui a tout appris, du b.a.ba technique jusqu’à l’art de la peinture au couteau. C’est à cette époque que Jeanne-Marie Desmares découvre l’onctuosité de la matière, les contrastes, les couleurs, les « valeurs », les transparences, comment aller à l’essentiel.<br>
				La Corse a fait le reste, elle s’y installe et affirme son style, épurée et intense. L’huile et le couteau ont sa préférence. Elle peint les reflets des maisons au bord de l’eau, une ruelle, un village, une tour. L’île est une source illimitée d’inspiration. Elle se perfectionne aussi à l’aquarelle.
				Jeanne-Marie Desmares peint maintenant depuis plus de 20 ans, elle travaille et expose à St Florent et réinterprète au fil des saisons les places et les fontaines.</p>
				<h3>L'inspiration - La Corse</h3>
				<p><span class="image right"><img src="assets/img/corse-1.jpg" alt="" /></span>Comment parler de cet île sans répéter encore et encore qu'elle est de toute beauté. La peinture de Jeanne-Marie Desmares nous rappelle que la Corse est faite de diversité, de lumière de couleur et d'une intensité dont on ne sait pas si elle vient de l'autenticité des villages perchés, de sa nature sauvage et parfois innaccessible, de la couleur du ciel au coucher du soleil, de la variété des paysages. Jeanne-Marie par sa peinture, exprime à merveille cette intensité et par un travail de couleurs vives et contrastées, ses toiles transmettent ce sentiment profond de reconnaissance pour cette terre si généreuse.<br>
				Saint Florent son village familiale à lui tout seul est une grande source d'inspiration. Des ruelles pavées, une fontaine, des maisons sur l'eau, une citadelle, le port de plaisance, les collines du Cap d'un coté, du désert des agriates de l'autre, un clocher, et cette lumière, encore elle, qui change sans cesse du matin au soir, du printemps à l'hiver, le temps lui aussi fait son oeuvre.<br>
				Est-ce qu'il lui arrive de peindre autre chose ? Oui, mais c'est plus rare, vous verrez.</p>
				<hr id="atelier">
				<h3>L'Atelier</h3>
				<p><div id="map"></div>Le village de saint Florent se trouve à 35 mn en voiture de Bastia sur la côte opposée. Situé au bord de l'eau, il a gardé son charme authentique. Le petit port de pêche est aujourd'hui un des plus beaux port de plaisance de Corse.<br>
				L'atelier se trouve place Doria plus communément appelée « place de la fontaine ». Une fois devant la fontaine aux grenouilles, vous verrez un magnifique micocoulier, arbre centenaire qui offre une ombre divine pendant la saison chaude. Descendez trois marches, vous y êtes. Là se dresse la maison de l'artiste avec au rez-de-chaussée son atelier, un ancien pressoir à olive. L'endroit est paisible, ici vous ressentirez l'âme authentique des villages Corses.</p>

				
				
			</section>

			<hr id="contact" />

			<section>
				<h3>Formulaire de contact</h3>
				{% if msg is not null %}
				<p id="mail-msg">{{ msg }}</p>
				{% endif %}
				<form method="post" action="index.php?action=contactMe" class="8u 12u$(medium)">
					<div class="row uniform 50%">
						<div class="6u 12u$(small)">
							<input type="text" name="name" id="name" value="" placeholder="Votre prénom" required />
						</div>
						<div class="6u$ 12u$(small)">
							<input type="email" name="email" id="email" value="" placeholder="mail@example.com" required/>
						</div>
						<div class="12u$">
							<input type="text" name="subject" id="subject" value="" placeholder="Objet" />
						</div>
						<div class="12u$">
							<textarea name="message" id="message" placeholder="Message" rows="6" required></textarea>
						</div>
						<div class="g-recaptcha" data-sitekey="6LeCJWIUAAAAAMSmN99tepnh6BSGjRS5QcqOgiF3"></div>
						<div class="12u$">
							<ul class="actions">
								<li><input type="submit" value="Envoyer" class="special" /></li>
								<li><input type="reset" value="Effacer" /></li>
							</ul>
						</div>
					</div>
				</form>
			</section>
		</div>
	</section>
    
{% endblock main %}

{% block script %}

<!-- Scripts externes -->

		<script type="text/javascript" src="assets/js/map.js"></script>

    	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjqPCjOpEV8hRBuMNX56tT7bByOtBiuwk&callback=workshopMap.initMap" type="text/javascript"></script>
    
{% endblock %}