<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} JMD {% endblock title%}</title>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

        {% block head %} {% endblock head %}

    </head>

    <body>

        <!-- Header -->

        <div id="header">
            <h1 id="logo"><a href="index.php">Jeanne-Marie Desmares</a></h1>
            <nav id="nav">
                <ul>
                    <li>
                        <a href="index.php">Home</a>
                    </li>
                    <li>
                        <a href="index.php?action=portfolio">Les Oeuvres</a>
                    </li>
                    <li>
                        <a href="index.php?action=about">L'Artiste</a>
                    </li>
                    <li>
                        <a href="index.php?action=blog">Blog</a>
                    </li>
                    <li>
                        <a href="index.php?action=about#contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>

            {% block main %}
                
            {% endblock main%}
            

        <!-- Footer -->
        <div id="footer">
            <div class="container">
                <div class="row 200% uniform">
                    <section class="4u 12u$(medium) 12u$(small)">
                        <header class="major">
                            <h4>Menu</h4>
                        </header>
                        
                        <ul class="alt">
                            <li><a href="index.php">Home</a></li>
                            <li><a href="index.php?action=portfolio">Les Oeuvres</a></li>
                            <li><a href="index.php?action=about">L'Artiste</a></li>
                            <li><a href="index.php?action=blog">Le Blog</a></li>
                        </ul>
                    </section>

                    <section class="4u 6u(medium) 12u$(small)">
                        
                    </section>  
                    <section class="4u$ 6u$(medium) 12u$(small)">
                        <header class="major">
                            <h4>Contact</h4>
                        </header>
                        <ul class="labeled-icons">
                            <li>
                                <h4 class="icon fa-envelope"><span class="label">Phone</span></h4>
                                <a href="index.php?action=about#contact">Mail</a>
                            </li>
                            <li>
                                <h4 class="icon fa-phone"><span class="label">Phone</span></h4>
                                <a href="tel:0033614088609">+33 (0) 614 08 86 09</a>
                            </li>
                            <li>
                                <h4 class="icon fa-home"><span class="label">Address</span></h4>
                                <a href="index.php?action=about#atelier">Place Doria<br>20217 Saint Florent / France</a>
                            </li>
                            <li>
                                <a href="index.php?action=login"><i class="icon fa-user-circle-o"><span class="label">Address</span></i>Espace administrateur</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="copyright">
                &copy; JMD. All rights reserved.
                <a href="index.php?action=mentions"> / Mentions légales</a>
            </div>
        </div>

        <!-- Scripts -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/jquery.onvisible.min.js"></script>
        <script src="assets/js/jquery.poptrox.min.js"></script>
        <script src="assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="assets/js/main.js"></script>   

        {% block script %}
            
        {% endblock script %}

    </body>
</html>
