{% extends 'homeLayout.twig' %}


{% block title %}

	 Accueil - {{ parent() }}
    
{% endblock title%}

{% block head %}
    <meta name="description" content="Accueil du site de l'artiste peintre Jeanne-Marie Desmares. Découvrez sa peinture et son environnement, la Corse." />
{% endblock %}


{% block main %}
    

	<div id="header" class="alt">
		<h1 id="logo"><a href="index.php">Jeanne-Marie Desmares</a></h1>
		<p>Artiste Peintre</p>
		<nav id="nav">
			<ul>
				<li><a href="index.php">Home</a></li>
				<li>
					<a href="index.php?action=portfolio">Les Oeuvres</a>
				</li>
				<li><a href="index.php?action=about">L'Artiste</a></li>
				<li><a href="index.php?action=blog">Blog</a></li>
				<li><a href="index.php?action=about#contact">Contact</a></li>
			</ul>
		</nav>
	</div>

<!-- Banner -->
	<section id="banner">
		<h2>La peinture est la matière <br> La Corse l'inspiration</h2>
		<a href="index.php?action=about" class="button special">En savoir plus...</a>
		
	</section>

<!-- One -->
	<section id="one" class="wrapper style1">
		<div class="container">
			<section class="feature">
				<div class="row 200%">
					<div class="8u 12u$(medium)">
						<header class="major">
							<h2>L'Artiste</h2>
							<p>"La peinture est un exutoire, une passion"</p>
						</header>
						<p class="texte-noir">Il n'y a pas de plus belle expression que cette peinture riche, onctueuse et lumineuse. Elle est la porte entre mon univers intime, secret et le monde exterieur. La peinture est une réalisation technique mais surtout une oeuvre de création personnelle et unique, c'est ce qui la rend magique.</p>
						<ul class="actions">
							<li><a href="index.php?action=about" class="button alt">Lire</a></li>
						</ul>
					</div>
					<div class="4u$ 12u$(medium) important(medium)">
						<span class="image fit rounded">
							<img src="assets/img/portrait02.jpg" alt="Jeanne-Marie, artiste peintre" />
						</span>
					</div>
				</div>
			</section>
			<section class="feature">
				<div class="row 200%">
					<div class="4u 12u$(medium)">
						<span class="image fit rounded">
							<img src="assets/img/corse-1.jpg" alt="Saint-Florent, Corse" class="rounded" />
						</span>
					</div>
					<div class="8u$ 12u$(medium)">
						<header class="major">
							<h2>Où la trouver</h2>
							<p>Saint Florent / Haute-Corse</p>
						</header>
						<p class="texte-noir">Jeanne-Marie réside en Corse, à Saint-Florent précisément. Au bord de l'eau, au pied des montagnes, c'est cet environnement maginifique qui emplit son inspiration. Cette île si belle ne cesse de se renouveller au fil des saisons, des moments de la journée. Les couchers de soleil, les villages, l'hiver, les placettes, la montagne forment des combinaisons infinies de tableaux, par ses lumieres et ses couleurs. La Corse est un cadeau pour l'artsite et elle le lui rend bien.  </p>
						<ul class="actions">
							<li><a href="index.php?action=about#atelier" class="button alt">Plus d'infos</a></li>
						</ul>
					</div>
				</div>
			</section>
		</div>
	</section>

<!-- Two -->
	<section id="two" class="wrapper style1 special">
		<div class="container">
			<header class="major">
				<h2>Les Créations récentes</h2>
			</header>
		</div>
		<section class="carousel">

			{% block caroussel %}

			{% endblock caroussel %} 
			    
			
		</section>
		<div class="container">
			<ul class="actions align-center">
				<li><a href="index.php?action=portfolio" class="button alt">En voir plus...</a></li>
			</ul>
		</div>
	</section>

<!-- Three -->
	<section id="three" class="wrapper style1 special">
		<div class="container">
			<header class="major">
				<h2>Accès rapide</h2>
			</header>
			<div class="icon-grid">
				<div class="row uniform 150%">
					<section class="3u 6u(large) 12u$(small)">
						<div class="acces">
						<a href="index.php?action=portfolio" class="acces-rapide">
							<i class="icon fa-university"></i>
							<h3>Gallerie</h3>
							<p>Découvrez en images les huiles et aquarelles réalisées par Jeanne-Marie Desmares.</p>
						</a>
					</div>
					</section>
					<section class="3u 6u$(large) 12u$(small)">
						<div class="acces">
						<a href="index.php?action=about#atelier" class="acces-rapide">
							<i class="icon fa-anchor"></i>
							<h3>L'atelier de Jeanne-Marie Desmares</h3>
							<p>Trouver et rencontrer l'artiste grâce au 
						plan du village de Saint Florent (Haute-Corse).</p>
						</a>
					</div>
					</section>
					<section class="3u 6u(large) 12u$(small)">
						<div class="acces">
						<a href="index.php?action=blog" class="acces-rapide">
							<i class="icon fa-bullhorn"></i>
							<h3>Blog</h3>
							<p>A travers ce blog, le peintre nous raconte ses ballades, son histoire et sa peinture.</p>
						</a></div>
					</section>
					<section class="3u$ 6u$(large) 12u$(small)">
						<div class="acces">
						<a href="index.php?action=about#contact" class="acces-rapide">
							<i class="icon fa-envelope"></i>
							<h3>Envoyer un mail</h3>
							<p>Contacter l'artiste, poser vos questions, prendre rendez-vous, n'hésitez pas à envoyer un mail.</p>
						</a>
					</div>
					</section>
				</div>
			</div>
		</div>
	</section>

{% endblock main%}
