{% extends 'homeTemplate.twig' %}


{% block caroussel %}				
					
	{% for img in paintings %}
		<article>
			<a href="#"class="image">
				<img src=" {{img.url}} " alt="Peinture de Jeanne-Marie Desmares" title=" {% if img.title == null %} {{img.technic}} {% else %} {{img.title}} {% endif %} "/>
			</a>
		</article>
	{% endfor %}

{% endblock %}