{% extends 'frontendLayout.twig' %}


{% block main %}

	<!-- Main -->
	<section id="main">
		<div class="container">
			<header class="major">
				<h4>Authentification</h4>
			</header>

			<!-- Content -->
			<section id="content">
				
				{% if msg is not empty %}
				<div>
					<p>{{ msg }}</p>
				</div>

				{% else %}
				<div>
					<p>Veuillez vous identifier</p>
				</div>

				{% endif %}

				<div class="row uniform 50%">
					<form action="index.php?action=auth" method="POST">
						<div class="6u 12u$(small)">
							<label for="pseudo">Identifiant : <input type="text" name="pseudo" id="pseudo" maxlength="20" required>
							</label>
						</div>
						
						<div class="6u$ 12u$(small)">
							<label for="mdp">Mot de passe : <input type="password" name="mdp" id="mdp" maxlength="50" required>
							</label>
						</div>

						<input class="button special small" type="submit" value="Valider">
					</form>
				</div>
			</section>
		</div>
	</section>
	
	
{% endblock %}
